:global(.ui) {
  .comment {
    overflow: auto;
  }
}

:global(.ui.basic.label).toolbarBtn {
  border: none
}

.reaction {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  z-index: 100;
}

:global(.ui.list>.item .header) {
  color: white !important;
}

