.headerWrp {
  background-color: white;
  padding: 1em 0;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.avatarInfo {
  display: flex;
  align-items: center;
}

.statusText {
  font-weight: 100;
}


:global(.ui.header .icon) {
  margin-left: 10px;
}
